/*----------------------------------------
  26. Location CSS 
----------------------------------------*/
@use "../abstract" as *;

// Location
.location-1 {
	top: 25%;
	left: 9%;
	@media #{$xxs} {
		left: 33%;
	}
}
.location-2 {
	left: 35%;
	top: 0;
}
.location-3 {
	top: 60px;
	right: 20%;
	@media #{$xxs} {
		right: 30%;
	}
}
.location-4 {
	left: 20%;
	bottom: 110px;
	@media #{$xxs} {
		left: 33%;
	}
}
.location-5 {
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
}
.location-6 {
	right: 30%;
	bottom: 80px;
}
.location-7 {
	right: 90px;
	bottom: 130px;
}
.location-text {
	span {
		font-size: 16px;
		text-transform: capitalize;
		font-weight: 500;
	}
}
.location-map-bg {
	min-height: 520px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.location-item {
	position: absolute;
	align-items: center;
    @include transition(.3s);
}
.location-icon {
	display: inline-block;
	cursor: pointer;
}
.location-item.location-content {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0px);
}




.location-item:hover .location-content {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0px);
}

.location-counrty {
	width: 58px;
	height: 58px;
	min-width: 58px;
	img{
		width: 100%;
		border-radius: 50%;
		height: 100%;
	}
}
.location-content {
	display: inline-flex;
	align-items: center;
	gap: 20px;
	padding: 15px 15px;
	background: #FFFFFF;
	box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.08);
	border-radius: 100px;
	min-width: 200px;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 10px);
	opacity: 0;
	visibility: hidden;
	opacity: 0;
    @include transition(.3s);
	visibility: hidden;
	z-index: 55;
}
.loaction-box {
	padding: 40px 35px;
	border: 1px solid var(--clr-common-border-2);
    @media #{$xs,$xl}{
        padding: 40px 30px;
    }
}
// Country-tab
.country-tab {
    .nav-tabs {
        border-bottom: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        .nav-link {
            border: 0;
            border: 2px solid var(--clr-common-border-2);
            padding: 0 30px;
            height: 60px;
            border-radius: 0;
            &:hover {
                border: 2px solid var(--clr-common-border-2);
                color: var(--clr-common-heading);
            }
            &.active {
                background-color: var(--clr-common-color-red);
                color: var(--clr-common-white);
                border-color: var(--clr-common-color-red);
            }
        }
    }
    .nav-link {
        font-family: "Oswald", sans-serif !important;
        font-weight: 600;
        padding: 0;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--clr-common-heading);
        font-weight: 700;
        &:hover {
            color: var(--clr-common-red);
        }
    }
}
.laction-county {
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;
		li {
            list-style: none;
            font-size: 16px;
            font-weight: 600;
            display: flex;
            gap: 10px;;
            span {
                &:hover {
                    color: var(--clr-common-color-red);
                }
            }
		}
	}
}
// Office map
.office-wrapper {
	display: flex;
	gap: 35px;
	padding: 50px 45px 50px;
	background: var(--clr-common-white);
    @media #{$xs,$sm,$md}{
        margin-left: 0;
    }
	@media #{$sm, $xs} {
		flex-wrap: wrap;
		flex-direction: column;
	}
}
.office-map {
	iframe {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 10px;
		z-index: -1;
	}
}
.office-item {
	position: relative;
	padding-right: 37px;
	@media #{$sm, $xs} {
		padding-right: 0;
	}
	&:after {
		position: absolute;
		content: "";
		height: 85%;
		width: 1px;
		border: 1px solid var(--clr-common-border-2);
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		@media #{$sm, $xs}{
			display: none;
		}
	}
	&:last-child {
		padding-right: 0px;
		&::after {
			display: none;
		}
	}
	h4 {
        font-size: 24px;
        margin-bottom: 25px;
        color: var(--clr-common-heading);
		@media #{$xs}{
			font-size: 20px;
		}
	}
}
.office-content {
	.singel-addresss{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	a {
		display: block;
        &:last-child {
            margin-bottom: 0;
        }
		i{
			margin-right: 10px;
		}
	}

}
.singel-addresss {
	display: flex;
	gap: 15px;
}